include includes/head
//include includes/foot

div.container-fluid
  div.row-fluid
    div.span3
      ul(class='nav nav-tabs nav-stacked')

    div.span9
      div.hero-unit
        h1= synset[0].name
        p.lemma
      div.row-fluid
        div
          h2 definition
          ul.def
      div.row-fluid
        div
          h2 examples
          ul.ex

script
  $("div.span3 ul.nav").each(function(){
    var href="/synlinks/#{synset[0].synset}", ul = $(this);
    $.getJSON(href,function(json){
      for(var key in json){
        ul.append($("<li class='nav-header'>"+key+"</li>"));
        var links = json[key];
        for(var i in links){
          var  link = links[i].link,
            name = links[i].name,
            pos = links[i].pos,
            synset2 = links[i].synset2,
            li = $("<li><a href='/sense/"+ synset2 +"'><i>"+pos + ".</i> " +name+"</a></li>");
          ul.append(li);
        }
      }
    });
  });
  $("p.lemma").each(function(){
    var href="/lemma/#{synset[0].synset}", div_lemma = $(this);
    $.getJSON(href,function(json){
      var lemma = json.map(function(item){return "<a href='/words/"+item.lemma+"'>"+item.lemma+"</a>";}).join(' ');
      div_lemma.append($(lemma));
    });
  });
  $("div.span9 ul.def").each(function(){
    var href="/def/#{synset[0].synset}", ul = $(this);
    $.getJSON(href,function(json){
      for(var i in json){
        var li = $("<li>"+json[i].def+"</li>");
        ul.append(li);
      }
    });
  });
  $("div.span9 ul.ex").each(function(){
    var href="/examples/#{synset[0].synset}", ul = $(this);
    $.getJSON(href,function(json){
      for(var i in json){
        var li = $("<li>"+json[i].def+"</li>");
        ul.append(li);
      }
      if(json.length==0){$("ul.ex").siblings("h2").hide();}
    });
  });
